html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}

#monkey {
  position: absolute;
  top: 550px;
  right: 120px;
}

/* Write your solution here */
https://www.theguardian.com/commentisfree/2019/jan/14/la-teachers-working-class-power-labor-strikes
